[Unit]
Description=Sailingboat application service
After=network.target
StartLimitBurst=2
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=alarm
ExecStart=/usr/local/bin/sailingBoat

[Install]
WantedBy=multi-user.target